<plugin>
    <extension point="org.eclipse.ui.newWizards">
        <wizard category="com.vaadin"
            class="com.vaadin.integration.eclipse.flow.wizard.ui.PlatformMavenProjectWizard"
            icon="icons/icon-flow.png"
            id="com.vaadin.integration.eclipse.wizards.PlatformMavenProjectWizard"
            name="Vaadin 14 Project" project="true">
            <description>
                Create a Vaadin 14 Project.
            </description>
        </wizard>
        <category id="com.vaadin" name="Vaadin">
        </category>
    </extension>
</plugin>
